{% extends 'layouts/user.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- space -->
<div>
   <p></p>
</div>

<body >


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">



  <style>
  .ui-autocomplete-loading {
    background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
  }
  #city { width: 25em; }
  </style>



   <!-- Modal -->
   <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
         <div class="modal-content" id="myModalBody" >
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
               <h4 class="modal-title" id="myModalLabel">Software Engineer</h4>
            </div>
            <div class="modal-body" >
               <h color ='black'>
               Job Description
               <h>
               Just dummy
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button id="modalButton" type="submit" class="btn btn-primary" >
                       </button>
            </div>
         </div>
      </div>
   </div>


    <!-- text Field Macro -->

      {% macro render_field(field) -%}
        <div class="control-group{% if field.errors %} error{% endif %}">
           <br>
          <label class="control-label" for="{{ field.id }}">
            {{ field.label }}
          </label>
          <div class="controls">
            {{ field(**kwargs)|safe }}

            {% for error in field.errors %}
            <p class="help-block">
              {{ error }}
            </p>
            {% endfor %}
          </div>
        </div>
      {%- endmacro %}

   <!--first split-->
   <div class="row">
   <div class="col-md-6">
    <h3> Create a New Job </h3>


      <div class="panel panel-info">

         <div class="panel-heading">

       <form class="well row-fluid" method="POST" action="/job/create/" >

        {{ render_field(form.job_title, class_='form-control  col-md-12', placeholder = "Ex : Software Engineer",required='required') }}

        {{ render_field(form.job_location, class_='form-control  col-md-12', placeholder = "Ex : Gilbert",
                            required='required') }}

        {{ render_field(form.job_institution, class_='form-control  col-md-12',
                             placeholder = "Ex : HiringSolved", required='required') }}

        {{ render_field(form.job_qualification, class_='form-control col-md-12',
                             placeholder = "Ex : MS, Bachelors",required='required') }}

        {{ render_field(form.job_type, class_='form-control  col-md-12', required='required') }}

        {{ render_field(form.job_experience, class_='form-control  col-md-12',  placeholder = "Ex : 2 years",
                            required='required') }}

        {{ render_field(form.job_summary,rows="6" ,cols="30" ,maxlength=360,class_='form-control col-md-12',
                             placeholder = "Short and sweet Job Summary within 240 chars", required='required') }}

        {{ render_field(form.job_description, rows="12" ,cols="30", maxlength=2048, class_='form-control col-md-12',placeholder = "Detailed job description", required='required') }}
        <br><br>
        <button type="submit" class="btn btn-primary">Create Job</button>


        </form>
        </div>
      </div>
   </div>



   <!--
      second split -->
   <div class="row hidden" id= "hiddendiv"  >
   <div class="col-md-6" >
      <div class="panel panel-warning">
         <div class="panel-heading">



            <!-- for adding the create job -->
            <form class="form-horizontal" role="form" >
               <div class="form-group">
                  <span style="color:black" >Suggested Job description examples for this Job title</span>
                  <!-- space -->
                  <div><br></div>
                  <div class="form-group">
                     <div class="col-md-6">
                        <span class="link" style="color:black" >Job Description</span>
                        <textarea id = "newtxtArea" class=" form-horizontal " rows="15" cols = '60'  placeholder="">
                         Just dummy
                        </textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="col-sm-
                        offset-2 col-sm-10">
                        <button id="txtButton" type="submit" class="btn btn-default">Select
                        </button>
                     </div>
                  </div>
            </form>
            </div>
         </div>
      </div>
   </div>
</body>
{% endblock %}
